<html>
    <body>
        <% if (errors.length) { %>
            <h2><%= errors.length === 1 ? 'Error' : 'Errors' %> prohibited this connect configuration</h2>
            <ul>
                <% for(var i=0; i<errors.length; i++) {%>
                    <li><%= errors[i] %></li>
                <% } %>
            </ul>
        <% } %>

        <form name="form1" method="GET" action="/qr">
            <div class="form-group">
                <label for="amount">* Amount</label>
                <input type="number" id="amount" name="amount" value="<%= amount %>">
            </div>
            <div class="form-group">
                <label for="currency">* Currency</label>
                <input type="text" id="currency" name="currency" value="<%= currency %>">
            </div>
            <div class="form-group">
                <label for="communication">* Communication</label>
                <input type="text" id="communication" name="communication" value="<%= communication %>">
            </div>
            <div class="form-group">
                <label for="psu_type">* Psu Type</label>
                <select name="psu_type">
                    <option value="retail">Retail</option>
                    <option value="corporate">Corporate</option>
                  </select>
            </div>
            <button type="submit">Pay by bank</button>
        </form>
    </body>
</html>